{%extends "base.html"%}
{%block head%}
<p><strong>Staff Page</strong></p>
<div><p>მოგესალბებით Staff page-ზე</p></div>
<ul>
    <a href="{{url_for('aboutus')}}"><li>About us</li></a>
    <li>Staff</li>
</ul>
{%endblock%}